.wrapper {
  background: url("./img/background\ \(2\).png");
  height: 100vh;
  background-repeat: no-repeat;
}
.container {
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.input {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  width: 335px;
  height: 39px;
  opacity: 0.5;
  font-size: 16px;
  background: none;
}
.password {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  width: 335px;
  height: 39px;
  opacity: 0.5;
  background: none;
  font-size: 16px;
}
.text {
  cursor: pointer;
  color: rgba(84, 88, 234, 1);
  position: relative;
  top: -70px;
  right: 120px;
  font-size: 13px;
  font-weight: 500;
}
.btn {
  cursor: pointer;
  width: 335px;
  height: 44px;
  background-color: rgba(192, 192, 192, 1);
  border-radius: 80px;
  border: none;
  color: white;
  font-size: 16px;
}
.text__reg {
  color: rgba(84, 88, 234, 1);
  position: absolute;
  bottom: 50px;
  right: 25%;
}
.eye__img {
  cursor: pointer;
  position: relative;
  top: -50px;
  left: 300px;
  width: 30px;
  object-fit: cover;
}

@media (max-width: 590px) {
  .form {
    margin: 0 auto;
  }
  .text__reg {
    right: 30%;
  }
}
